.Sub-category {
    width: 100%;
    height: 100%;
    font-family: Gibson-Regular;
    display: flex;
    flex-direction: row;
}

.Sub-category img {
    flex-grow: 1;
    width: 5%;
}

.Sub-category div {
    display: flex;
    flex-direction: column;
    flex-grow: 8;
    margin-left: 20px;
    justify-content: center;
}

.Sub-category div p:first-child {
    font-family: Gibson-Bold;
    margin-bottom: 20px;
}

.Sub-category ul {
    display: hide;
}

