.Button button {
    font-size: 1.5em;
    color: white;
    font-family:  Gibson-Bold;
    border: none;
    border-radius: 20px;
    padding: 40px 20px;
    margin-top: 50px;
}

.Button button img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}


@media (min-width: 768px) {
    .Button button img {
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .Button button img {
        width: 250px;
        height: 250px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    
}


