.Home .Button {
    display: flex;
    flex-direction: column;
}

.Button button {
    font-size: 1.5em;
    color: white;
    font-family:  Gibson-Bold;
    border: none;
    border-radius: 20px;
    padding: 40px 20px;
    margin-top: 20px;
}

.Button button img {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.Button button p {
    padding: 10px 0;
    margin: 0 -20px;
}

.Button .description {
    text-align: center;
    width: 200px;
    margin-top: 20px;
    color: black;
    font-family: Gibson-Bold;
    font-size: 16px;
}

.AtSchool .Button .description,
.AtNurseries .Button .description
 {
    margin: auto;
}

@media (min-width: 768px) {
    .Button button img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .Button .description {
        font-size: 16px;
        width: 200px;
    }

    .Button .description,
    .AtSchool .Button .description,
    .AtNurseries .Button .description
     {
        margin-top: 20px;
     }


    .Button button {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .Button button img {
        width: 160px;
        height: 160px;
        display: block;
        margin: auto;
    }

    .AtSchool .Button button img,
    .AtNurseries .Button button img
     {
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
    }

    .Button .description {
        font-size: 15px;
        width: 200px;
        text-align: center;
    }

    .Button button {
        margin-top: 50px;
    }
}


