
.Navbar {
    height: 120px;
    color: white;
    font-family: Gibson-Bold;
    font-size: 1.5rem;
    /* font-weight: 700px; */
    /* background-color: #F9B200; */
    /* background-color: #0EB1AF; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Navbar img {
    width: 15rem;
}

.Navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
   
}

.Navbar ul li {
    padding: 13px 20px;
}

.Navbar ul li a {
    color: white;
    text-decoration: none;
}

.Navbar ul li i {
    display: inline-block;
    padding-right: 10px;
    
}
