.SubCategory {
    width: 100%;
    /* Remove height */
    /* height: 100%;  */
    margin: auto;
    font-family: Gibson-Regular;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(128, 0, 128, 0.3);
}

.SubCategory div:first-child {
    width: 40%;
 }

.SubCategory img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.SubCategory div:nth-child(2) {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.SubCategory div p:first-child {
    font-family: Gibson-Bold;
    /* margin-bottom: 20px; */
}

.SubCategory div p {
    word-wrap: break-word;
}

ul.task-groups{
    width: 100%;
    height: 100%;
    display: hide;
    margin: auto;
    list-style: none;
}

