.SubCategory {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    font-family: Gibson-Regular;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    /* border-bottom: 1px solid rgb(128, 128, 128, 0.3); */
}

.SubCategory div:first-child {
    width: 20%;
}

.SubCategory img {
    width: 100%;
}

.SubCategory div:nth-child(2) {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

.SubCategory div p:first-child {
    font-family: Gibson-Bold;
    margin-bottom: 20px;
}

ul.TaskGroup {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: hide;
    margin: auto;
    list-style: none;
}

