.TaskGroup {
    width: 100%;
    height: 100%;
    align-items: center;
    padding-left: 30px;
    padding-top: 10px;
}

.TaskGroup a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

.TaskGroup a > div:first-child {
    width: 40%;
}

.TaskGroup img {
    width: 100%;
}

.TaskGroup a > div:nth-child(2) {
    width: 60%;
    font-family: Gibson-Bold;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TaskGroup button {
    width: 5%;
    height: 50%;
    text-indent: -9999px;
    margin: 0 2px;
    border: 1px solid purple;
    border-radius: 20px;
    background-color: white;
}

.TaskGroup button:first-child {
    margin-left: 0;
}

