.Video video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    font-family: Gibson-Bold;
}

.Video i.fa-xmark {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 5%;
    height: 5%;
    font-size: 30px;
    color: black;
}

.Video div {
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; 
}